<p><%= comment.content %></p>
<div class="d-flex justify-content-between">
    <p>Posted by <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago</p>
    <% if user_signed_in? %>
        <% if comment.user_id== current_user.id%>
            <div>
                <%=link_to edit_message_comment_path(comment.message,comment), class: "btn btn-light" do %>
                    <i class="bi bi-pencil"></i>
                <%end%>
                <%=link_to message_comment_path(comment.message,comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this message"}, class: "btn btn-danger" do %>
                    <i class="bi bi-trash"></i>
                <%end%>
            </div>
        <%end%>
    <%end%>
</div>
<hr>