<div class="container">
    <%= form_with model: comment, url: url do |form|%>
    <div class="mb-3">
        <%=form.label :content, class:"form-label"%>
        <%=form.text_area :content, class:'form-control'%>
    </div>
    <div class="mb-3">
        <%=form.submit class: "btn btn-primary"%>
        <%=link_to "Back", :back, class: "btn btn-warning"%>
    </div>
    <%end%>
</div>